@import "tailwindcss";

@plugin "daisyui" {
  themes: corporate --default;
}

@plugin "@tailwindcss/typography";

html {
  scrollbar-gutter: auto !important;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
  display: none;
}
